---
title: о нас
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
<div class="content text about">
	<h1 class="title">{{ title }}</h1>
	<p>мы новый выдох культуры.</p>

	<p>маргинальный дуэт, бессовестно насмехающийся над стандартной популярной формулой «правильной» музыки, которой забит сейчас каждый угол.</p>

	<p>группа образована в 2012 году, сначала состояла из одного участника, который только начинал заниматься созданием электронной музыки у родителей в гараже.</p>

	<div class="img-content">
		<div class="superman">
			<img src="img/about/ruslan-2.jpg" alt="руслан ирикович">
			<img src="img/about/ruslan-1.jpg" class="alt" alt="руслан ирикович">
		</div>
		<div><span class="name">руслан ирикович:</span> <br>создатель проекта bелая комната, <br>автор текстов и песен группы, идеолог.</div>
	</div>

	<p>в конце 2015 к группе присоединился новый человек, который впоследствии стал клавишником, синт-программистом, техническим редактором всей созданной музыки и редактором сайта и страниц в социальных сетях.</p>

	<div class="img-content">
		<div class="superman">
			<img src="img/about/em-1.jpg" alt="эм">
			<img src="img/about/em-2.jpg" class="alt" alt="эм">
		</div>
		<div><span class="name">эм:</span> <br>новый участник, технический редактор, <br>электронщик, клавишник, <br>сведение, мастеринг.</div>
	</div>
	
	<p>на данный момент группа записывает свой дебютный альбом, который называется «тяжело быть мной» и состоит из 12 композиций, 4 из которых инструментальные. </p>

	<div class="img-content simple">
		<img src="img/about/first-album.jpg" alt="обложка альбома">
		<div>обложка будущего альбома</div>
	</div>
	
	<p>на сайте опубликованы некоторые ранние работы, а так же <strong>29 июня 2019</strong> вышел первый сингл группы «так чисто». сингл рассказывает кусочек истории, в которую окунётся слушатель при прослушивании всего альбома. это глава о становлении демона на троне разума маленького человека, запертого в теле взрослого тридцатилетнего неудачника-наркомана. это история о том, как могла бы пойти твоя жизнь, если бы она ответила тебе отказом.</p>

	<p>выход альбома запланирован на конец лета-середину осени. до выхода альбома будет опубликовано несколько композиций, а так же планируется запись репетиции группы. примерный набор группы для живого исполнения запланирован на середину-конец августа.</p>
	
	<p>сейчас мы сами, своими силами дорабатываем звучание альбома, а так же попутно пытаемся заниматься продвижением своего бренда в сети. мы не всегда умело это делаем, но мы стараемся, и очень рады, что заинтересовали тебя.</p>
	
	<p>оставайся. посмотри сколько ссылок внизу.</p>
	
	<p>будь с нами.</p>
	<br>
</div>

{% endblock %}
