---
title: пусто
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
<div class="content">
	<h1 class="title">голова затуманена небом</h1>

    <p>
        <audio
            controls
            src="audio/golova.mp3"
        >
            твой браузер не поддерживает воспроизведение аудио. в каком ты веке?
        </audio>
    </p>

    <p>очередная тёмная глава из мрачной повести о потерянном мальчике.</p>

    <p>
        представляем к твоему прослушиванию новую, чертовски убойную дрянь. 
        <br>зови своих друзей, разрывай в мясо стены в своей комнате, 
        <br>откажись от надежды на всякое светлое будущее. продай свою душу, и насладись тёплым океаном ненависти.
    </p>
</div>

{% endblock %}
