---
title: музыка
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
<div class="content music">
	<h1 class="title">музыка</h1>
	<br>
	<div class="sc-player">
		<iframe 
			class="sc-player"
			width="100%" 
			height="auto" 
			scrolling="no" 
			frameborder="no" 
			allow="autoplay" 
			src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/77704800&color=%23b00000&show_playcount=false&show_user=false&download=true&sharing=false"
		></iframe>
	</div>
</div>

{% endblock %}
