---
title: музыка
---
{% import "data/data.html" as music %}

{% extends "layouts/_layout.html" %}

{% block content %}
	
<div class="content wide">
	<h1 class="title">{{ title }}</h1>
	<h2 class="subtitle">альбом "тяжело быть мной"</h2>
	<img src="audio/cover.jpg" alt="обложка альбома" class="album-cover">
	<div class="flex">
		<p><a target="_blank" rel="nofollow noopener" href="https://soundcloud.com/belayakomnata">soundcloud</a></p>
		<p><a target="_blank" rel="nofollow noopener" href="https://belayakomnata.bandcamp.com">bandcamp</a></p>
	</div>
	
	{% include "partials/_audio-player.html" %}

	<script>
		var iconImage = 'audio/icon.png';
		var list = [
		  {
			"icon": iconImage,
			"title": "красная помада (intro ft. AUF)",
			"file": "audio/красная помада.MP3"
		  },
		  {
			"icon": iconImage,
			"title": "голова затуманена небом",
			"file": "audio/голова затуманена небом.MP3"
		  },
		  {
			"icon": iconImage,
			"title": "внутри океана",
			"file": "audio/внутри океана.MP3"
		  },
		  {
			"icon": iconImage,
			"title": "хватит быть собой",
			"file": "audio/хватит быть собой.MP3"
		  },
		  {
			"icon": iconImage,
			"title": "его руки дрожат",
			"file": "audio/его руки дрожат.MP3"
		  },
		  {
			"icon": iconImage,
			"title": "останови меня",
			"file": "audio/останови меня.MP3"
		  },
		  {
			"icon": iconImage,
			"title": "забудь мою мечту",
			"file": "audio/забудь мою мечту.MP3"
		  },
		  {
			"icon": iconImage,
			"title": "тяжело быть мной",
			"file": "audio/тяжело быть мной.MP3"
		  },
		  {
			"icon": iconImage,
			"title": "трещина ползёт вниз",
			"file": "audio/трещина ползёт вниз.MP3"
		  },
		  {
			"icon": iconImage,
			"title": "сон смешного человека",
			"file": "audio/сон смешного человека.MP3"
		  },
		  {
			"icon": iconImage,
			"title": "тихо плачет воробей",
			"file": "audio/тихо плачет воробей.MP3"
		  },
		  {
			"icon": iconImage,
			"title": "скоро всё наладится",
			"file": "audio/скоро всё наладится.MP3"
		  }
		];
		
		AP.init({
		  playList: list,
		  volume: 0.6,
		  autoPlay: false
		});
	</script>
</div>

{% endblock %}
