---
title: шоурум
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
<div class="content wide shop">
    <h1 class="title">{{ title }}</h1>
    <p>сентябрь 2019 — дроп новой коллекции. <br>будь частью нас.</p>

    <div class="item_list">
        <div class="item">
            <div class="first">
                <h2 class="item__title only-large">футболка <br> "bелая комната"</h2>

                <p class="item__price">
                    <b>цена:</b> 1200₽ + <a href="#delivery-modal">доставка</a><br>
                    <b>состав:</b> 80% хлопок, 20% полиэстер<br>
                </p>
    
                <div class="item__description">
                    <a class="buy button" href="#buy-modal">купить</a>
                    <a class="link" href="#size-modal">таблица размеров</a>
                </div>
            </div>
    
            <div class="item__gallery">
                <div class="gallery__item">
                    <img src="img/shop/bk-white.jpg" alt="Футболка" class="gallery__item_photo">
                    <span>на фото: XL</span>
                </div>
                <div class="gallery__item">
                    <img src="img/shop/bk-black.jpg" alt="Футболка" class="gallery__item_photo">
                    <span>на фото: L</span>
                </div>
            </div>

            <h2 class="item__title only-mobile">футболка <br> "bелая комната"</h2>
        </div>
    </div>
</div>

<div id="buy-modal" class="modal-window">
    <div class="modal-inner">
        <div class="header">
            <h2>заказать футболку</h2>
            <a href="#" title="закрыть" class="modal-close">✖</a>
        </div>
        <div class="content">
            <form 
                name="gform" 
                id="gform" 
                class="form" 
                enctype="text/plain" 
                action="https://docs.google.com/forms/d/1KiaNhtqpRWcf0hK5tqyGda_DZH7WysRq53reg3qUhwM/formResponse?" 
                target="hidden_iframe" 
                onsubmit="submitted=true;"
            >
                <div class="form-item">
                    <label for="entry.371320649">как с тобой связаться?</label>
                    <input type="text" autocomplete="off" name="entry.371320649" id="entry.371320649" required placeholder="телефон, почта">
                </div>
                <div class="form-item">
                    <label for="entry.1513536927">пол</label>
                    <select name="entry.1513536927" id="entry.1513536927" form="gform" required>
                        <option value="мужской">мужской</option>
                        <option value="женский">женский</option>
                        <option value="неизвестен">неизвестен</option>
                    </select>
                </div>
                <div class="form-item">
                    <label for="entry.2105089875">цвет</label>
                    <select name="entry.2105089875" id="entry.2105089875" form="gform" required>
                        <option value="черный">черный</option>
                        <option value="белый">белый</option>
                    </select>
                </div>
                <div class="form-item">
                    <label for="entry.1938557614">размер</label>
                    <select name="entry.1938557614" id="entry.1938557614" form="gform" required>
                        <option value="s">s</option>
                        <option value="m">m</option>
                        <option value="l">l</option>
                        <option value="xl">xl</option>
                        <option value="xxl">xxl</option>
                        <option value="xxxl">xxxl</option>
                    </select>
                </div>
                <div class="form-item">
                    <label for="entry.1207522949">что-то еще?</label>
                    <input type="text" name="entry.1207522949" id="entry.1207522949" autocomplete="off" placeholder="если есть что добавить">
                </div>
                <input type="submit" value="отправить" class="button" id="buyButton">
            </form>
                
            <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>
        </div>
    </div>
</div>

<div id="size-modal" class="modal-window">
    <div class="modal-inner">
        <div class="header">
            <h2>таблица размеров</h2>
            <a href="#" title="закрыть" class="modal-close">✖</a>
        </div>
        <div class="content">
            <table>
                <thead>
                    <tr>
                        <th>Международный<br> размер</th>
                        <th>Евро<br> размер</th>
                        <th>Российский<br> размер</th>
                        <th>Объем<br> груди</th>
                        <th>Объем<br> бедер</th>
                        <th>Объем<br> талии</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>S</td>
                        <td>36</td>
                        <td>42</td>
                        <td>80-90</td>
                        <td>80-90</td>
                        <td>до 66</td>
                    </tr>
                    <tr>
                        <td>M</td>
                        <td>38</td>
                        <td>44</td>
                        <td>91-95</td>
                        <td>91-96</td>
                        <td>до 70</td>
                    </tr>
                    <tr>
                        <td>L</td>
                        <td>40</td>
                        <td>46</td>
                        <td>96-100</td>
                        <td>97-104</td>
                        <td>до 76</td>
                    </tr>
                    <tr>
                        <td>XL</td>
                        <td>-</td>
                        <td>48</td>
                        <td>102</td>
                        <td>106</td>
                        <td>78</td>
                    </tr>
                    <tr>
                        <td>XXL</td>
                        <td>-</td>
                        <td>50</td>
                        <td>104</td>
                        <td>106-108</td>
                        <td>82</td>
                    </tr>
                    <tr>
                        <td>XXXL</td>
                        <td>-</td>
                        <td>52</td>
                        <td>106</td>
                        <td>109-112</td>
                        <td>86</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="delivery-modal" class="modal-window text-left">
        <div class="modal-inner">
            <div class="header">
                <h2>доставка</h2>
                <a href="#" title="закрыть" class="modal-close">✖</a>
            </div>
            <div class="content">
                <p>Стоимость доставки зависит от выбранного Вами способа и региона доставки. <br>
                Вы можете выбрать доставку курьером, Почтой России или забрать посылку в пункте самовывоза в вашем городе.<br>
                Время доставки зависит от региона проживания получателя.<br>
                При выборе способа доставки будут указаны её приблизительные сроки в днях. <br>
                Срок обработки заказа может составлять от 7 до 20 дней.<br>
                Рассчитать точную стоимость доставки Вы можете при оформлении заказа.<br>
                Заказ отправляется только после 100% оплаты.</p>
            </div>
        </div>
    </div>

<script>
    var submitted = false;
    var form = document.getElementById("gform");
    var buyButton = document.getElementById("buyButton");
    
    buyButton.addEventListener("click", function(e) {
        setTimeout(function() {
            form.reset();
            document.getElementById("size-modal").getElementsByClassName("modal-close")[0].click();
        }, 500);
    });
</script>

{% endblock %}
