.album-cover
  max-width: 350px
  height: auto
  padding: 0
  margin: 0
  width: 100%

.al-info
  margin: 1em auto
  .al-title
    font-size: 1.5em
    line-height: 0
  .al-small
    font-size: 1em

@import ../components/audio-player

button.ap__controls.ap__controls--toggle svg
  fill: #ccc !important

button.ap__controls.ap__controls--next svg,
button.ap__controls.ap__controls--prev svg,
button.ap__controls.ap__controls--playlist svg,
.ap__controls.volume-container .volume-btn svg
  fill: darken(#ccc, 20%) !important