
.content.shop
	width: auto
	.title
		margin-bottom: 0

.item_list
	margin-top: 1em
	
.item
	margin: 0 auto
	display: flex
	justify-content: space-between
	flex-direction: column-reverse
	+rmin(1024)
		flex-direction: row
		.first
			min-width: 30%
			text-align: left
			margin-right: 2em
			.item__title
				margin-bottom: 0
			.item__description
				justify-content: flex-start
				align-items: flex-start
				flex-direction: column
				a
					margin-left: 0
		.gallery__item
			&_photo
				max-width: 250px
	&__gallery
		display: flex
		justify-content: center
		flex-direction: row
		align-items: center
		.gallery__item
			span
				font-size: 0.7em
				color: #ccc
				display: block
			&_photo
				max-width: 300px
				margin: 5px 10px 0
				filter: grayscale(100%)
				+r(768)
					max-width: 250px
		+r(600)
			flex-direction: column
	&__price
		a
			font-size: inherit
	&__description
		display: flex
		justify-content: center
		align-items: center
		+r(600)
			flex-direction: column
		a
			font-size: 1em
			line-height: 1em
			+r(600)
				margin-left: 0 !important
		.buy
			margin-left: 1.8em
		.link
			margin-left: 1em
			display: inline-block
			padding: 0 !important
			white-space: nowrap
	&__title
		font-style: 1.3em
		font-weight: 200