<!-- SEO -->
<meta name="keywords" content="bелая комната, белая комната, belaya komnata, belayakomnata, russian industrial" />
<meta name="description" content="весь маргинальный контент в одном месте. возрождаем индастриал, пока это не стало мэйнстримом."/>

<!-- Open Graph Protocol -->
<meta property="og:locale" content="ru_RU" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="bелая комната" />
<meta property="og:description" content="весь маргинальный контент в одном месте. возрождаем индастриал, пока это не стало мэйнстримом." />
<meta property="og:image" content="https://belayakomnata.me/img/logo-og.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />