<div class="flats">
    <!--<a href="https://soundcloud.com/belayakomnata" class="flat-item soundcloud" target="_blank" rel="nofollow noopener" title="SoundCloud"></a>-->
    <!--<a href="https://belayakomnata.bandcamp.com" class="flat-item bandcamp" target="_blank" rel="nofollow noopener" title="Bandcamp"></a>-->
    <a href="https://www.deezer.com/ru/artist/76327412" class="flat-item deezer" target="_blank" rel="nofollow noopener" title="Deezer"></a>
    <a href="https://music.apple.com/ru/artist/bелая-комната/1484679502" class="flat-item apple" target="_blank" rel="nofollow noopener" title="Apple Music"></a>
    <a href="https://play.google.com/store/music/artist?id=Aujtjzvfx5vsijvkbwz3zvs7hza" class="flat-item google" target="_blank" rel="nofollow noopener" title="Google Music"></a>
    <a href="https://vk.com/bialy_pokoj" class="flat-item vk" target="_blank" rel="nofollow noopener"></a>
    <a href="https://instagram.com/belaja_komnata" class="flat-item instagram" target="_blank" rel="nofollow noopener" title=""></a>
    <!--<a href="https://twitter.com/belayakomnata" class="flat-item twitter" target="_blank" rel="nofollow noopener" title=""></a>-->
    <a href="https://t.me/belayakomnata" class="flat-item telegram" target="_blank" rel="nofollow noopener" title=""></a>
</div>