<div class="flats">
    <a href="https://soundcloud.com/belayakomnata" class="flat-item soundcloud" target="_blank" rel="nofollow noopener" title="SoundCloud"></a>
    <a href="https://belayakomnata.bandcamp.com" class="flat-item bandcamp" target="_blank" rel="nofollow noopener" title="Bandcamp"></a>
    <a href="https://vk.com/bialy_pokoj" class="flat-item vk" target="_blank" rel="nofollow noopener"></a>
    <a href="https://instagram.com/belaja_komnata" class="flat-item instagram" target="_blank" rel="nofollow noopener" title=""></a>
    <a href="https://twitter.com/belayakomnata" class="flat-item twitter" target="_blank" rel="nofollow noopener" title=""></a>
    <a href="https://t.me/belayakomnata" class="flat-item telegram" target="_blank" rel="nofollow noopener" title=""></a>
</div>