<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>{% if title %}{{ title }}{% else %}{% endif %} | bелая комната</title>
    
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />

    <link rel="manifest" href="/manifest.json">
    
    <!-- Theme Color -->
    <meta name="theme-color" content="#000000"/>
	  <meta name="msapplication-navbutton-color" content="#000000"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <link rel="stylesheet" href="css/app.css" />
    <link href="https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap" rel="stylesheet" media="none" onload="if (media!= 'all') media= 'all'" />

    {% include "../partials/_media-tags.html" %}
  </head>
  <body>
    {% include "../partials/_menu.html" %}
    
    <div class="container">
      {% include "../partials/_logo.html" %}

      {% block content %}{% endblock %}

      {% include "../partials/_socials.html" %}
    </div>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
  
      ym(54113272, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true
      });
    </script>
    <!-- /Yandex.Metrika counter -->
  </body>
</html>
